.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
    background: sky-blue;
}

h1 {
    color: #4A90E2;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-details label {
    display: block;
    margin: 10px 0;
}

.profile-details input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: white;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
}

button:hover {
    background-color: #45a049;
}

